#ink-ns-default-theme() {
  /**
   * Standard font families.
   */
  .font-families() {
    #ink-ns-theme.add-css-vars(
      @prefix: ink-ff;
      @vars: {
        default: var(--ink-ff-sans-serif);

        monospace: "SF Mono", SFMono-Regular, ui-monospace, Menlo, Monaco,
                   Consolas, "Liberation Mono", "Courier New", monospace;
        sans-serif: DejaVu Sans, Verdana, Arial, Helvetica, Sans-Serif;
        serif: Georgia, Cambria, "Times New Roman", Times, serif;
      });
  }

  @icon-svg-paths: {
    add: data-uri('@{tabler-path}/icons/filled/circle-plus.svg');
    arrow-left:
      data-uri('@{tabler-path}/icons/filled/arrow-big-left.svg');
    arrow-left-first:
      data-uri('@{tabler-path}/icons/filled/arrow-badge-left.svg');
    arrow-right:
      data-uri('@{tabler-path}/icons/filled/arrow-big-right.svg');
    arrow-right-first:
      data-uri('@{tabler-path}/icons/filled/arrow-badge-right.svg');
    check: data-uri('@{tabler-path}/icons/outline/check.svg');
    close: data-uri('@{tabler-path}/icons/outline/x.svg');
    delete-item: data-uri('@{tabler-path}/icons/filled/trash-x.svg');
    dot: data-uri('@{tabler-path}/icons/filled/point.svg');
    dropdown: data-uri('@{tabler-path}/icons/filled/caret-down.svg');
    error: data-uri('@{tabler-path}/icons/filled/alert-circle.svg');
    info: data-uri('@{images-path}/icons/info.svg');
    mobile-menu: data-uri('@{tabler-path}/icons/outline/menu-2.svg');
    refresh: data-uri('@{tabler-path}/icons/outline/refresh.svg');
    search: data-uri('@{tabler-path}/icons/outline/search.svg');
    settings: data-uri('@{tabler-path}/icons/filled/settings.svg');
    sort-ascending: data-uri('@{tabler-path}/icons/outline/sort-ascending.svg');
    sort-descending: data-uri('@{tabler-path}/icons/outline/sort-descending.svg');
    unsort: var(--ink-i-close);
    success: data-uri('@{tabler-path}/icons/filled/circle-check.svg');
    warning: data-uri('@{tabler-path}/icons/filled/alert-triangle.svg');
    zoom-in: data-uri('@{tabler-path}/icons/filled/zoom-in.svg');
    zoom-out: data-uri('@{tabler-path}/icons/filled/zoom-out.svg');
  }

  /**
   * Standard icons.
   *
   * These are all SVGs embedded within the stylesheet. They can be used
   * without an extra download.
   */
  .icons() {
    #ink-ns-theme.add-css-vars(
      @prefix: ink-i;
      @vars: #ink-ns-default-theme[@icon-svg-paths]);
  }
}
