/**
 * Component management for ink-c-form-field.
 *
 * Version Added:
 *     1.0
 */

@import (reference) "./base.less";
@import (reference) "./schemas/form-field.schema.less";


#ink-ns-ui() {
  .form-field() {
    /**
     * Create an ink-c-form-field component.
     *
     * Version Added:
     *     1.0
     *
     * Args:
     *     @name (string, optional):
     *         The name of the CSS class for the component.
     *
     *     @vars (ruleset, optional):
     *         Any CSS variables to register on the component and root element.
     *
     *     @rulees (ruleset, optional):
     *         Any custom rules to apply to the schema.
     */
    .create(@name: ink-c-form-field;
            @vars: null;
            @rules: null) {
      #ink-ns-ui.base.define-component(
        @name: @name;
        @vars: @vars;
        @specialize-rules: @rules;
        @schema: #ink-ns-schema[@form-field];
        @schema-rules: {
          /*
           * Styles for the default state of the main element.
           */
          @__default__: {
          };

          @state-disabled: {
          };

          @state-required: {
          };

          @state-has-input-first: {
          };

          @state-has-input-second: {
          };

          @errors: {
          };

          @help: {
          };

          @input: {
          };

          @label: {
          };

          @readonly-value: {
          };
        };
      );
    }
  }
}
