/**
 * Component management for ink-c-form.
 *
 * Version Added:
 *     1.0
 */

@import (reference) "./base.less";
@import (reference) "./schemas/form.schema.less";


#ink-ns-ui() {
  .form() {
    /**
     * Create an ink-c-form component.
     *
     * Version Added:
     *     1.0
     *
     * Args:
     *     @name (string, optional):
     *         The name of the CSS class for the component.
     *
     *     @form-field-name (string, optional):
     *         The name of the contained form field component class.
     *
     *     @form-field-schema (ruleset, optional):
     *         The schema used for the contained form field component class.
     *
     *     @vars (ruleset, optional):
     *         Any CSS variables to register on the component and root element.
     *
     *     @rules (ruleset, optional):
     *         Any custom rules to apply to the schema.
     */
    .create(@name: ink-c-form;
            @form-field-name: ink-c-form-field;
            @form-field-schema: #ink-ns-schema[@form-field];
            @form-fieldset-name: ink-c-form-fieldset;
            @form-fieldset-schema: #ink-ns-schema[@form-fieldset];
            @vars: null;
            @rules: null) {
      #ink-ns-ui.base.define-component(
        @name: @name;
        @vars: @vars;
        @specialize-rules: @rules;
        @schema: #ink-ns-schema[@form];
        @schema-rules: {
          /*
           * Styles for the default state of the main element.
           */
          @__default__: {
            display: flex;
            flex-direction: column;
          };

          /*
           * Styles for the form's vertical layout.
           */
          @state-layout-vertical: {
            #ink-ns-ui.base.customize-component(
              @name: @form-field-name;
              @schema: @form-field-schema;
              @schema-rules: {
                @__default__: {
                  display: flex;
                  flex-direction: column;
                };

                @state-has-input-first: {
                  flex-direction: row;
                }
              };
            )
          };

          /*
           * Styles for the form's aligned layout.
           */
          @state-layout-aligned: {
            display: grid;
            grid-template-columns: fit-content(100%) auto;

            .add({
              @fields: {
                display: grid;
                grid-column: span 2;
                grid-template-columns: subgrid;
              };
            });

            #ink-ns-ui.base.customize-component(
              @name: @form-fieldset-name;
              @schema: @form-fieldset-schema;
              @schema-rules: {
                @__default__: {
                  display: grid;
                  grid-column: span 2;
                  grid-template-columns: subgrid;
                }

                @legend: {
                  grid-column: span 2;
                }

                @description: {
                  grid-column: span 2;
                }
              };
            );

            #ink-ns-ui.base.customize-component(
              @name: @form-field-name;
              @schema: @form-field-schema;
              @schema-rules: {
                @__default__: {
                  display: grid;
                  grid-column: span 2;
                  grid-template-columns: subgrid;
                }

                @state-has-input-first: {
                  .add({
                    @input: {
                      grid-column: span 2;
                    }

                    @help: {
                      grid-column: span 2;
                    }
                  });
                };

                @state-has-input-second: {
                  .add({
                    @label: {
                      grid-column: 1;
                    }

                    @input: {
                      grid-column: 2;
                    }

                    @help: {
                      grid-column: 2;
                    };
                  });
                };
              };
            )
          };

          /*
           * Styles for the form's centered layout.
           */
          @state-layout-centered: {
            align-items: baseline;
            column-gap: var(--ink-u-spacing-m);
            display: grid;
            grid-template-columns: 1fr auto 1fr;

            .add({
              @fields: {
                display: grid;
                grid-column: span 3;
                grid-template-columns: subgrid;
              };

              @actions: {
                align-items: center;
                display: flex;
                flex-direction: column;
                grid-column: 2;
              }

              @actions-primary: {
                align-items: center;
                flex-direction: column;
              }

              @actions-secondary: {
                align-items: center;
                flex-direction: column;
              }
            });

            #ink-ns-ui.base.customize-component(
              @name: @form-fieldset-name;
              @schema: @form-fieldset-schema;
              @schema-rules: {
                @__default__: {
                  display: grid;
                  grid-column: span 3;
                  grid-template-columns: subgrid;
                }

                @legend: {
                  grid-column: 2;
                }
              };
            );

            #ink-ns-ui.base.customize-component(
              @name: @form-field-name;
              @schema: @form-field-schema;
              @schema-rules: {
                @state-has-input-first: {
                  display: flex;
                  flex-direction: row;
                  grid-column: 2;
                };

                @state-has-input-second: {
                  display: grid;
                  grid-column: span 3;
                  grid-template-columns: subgrid;

                  .add({
                    @label: {
                      grid-column: 1;
                      text-align: right;
                    }

                    @input: {
                      grid-column: 2;
                    }
                  });
                };

                @help: {
                  grid-column: 2;
                }
              };
            );
          }

          /*
           * Styles for a form action.
           */
          @action: {
            margin: 0;
          };

          /*
           * Styles for a group of form actions.
           */
          @actions: {
            display: flex;
            grid-column: span 2;
            margin: 0;
            padding: 0;
          };

          /*
           * Styles for a group of primary form actions.
           */
          @actions-primary: {
            display: flex;
          };

          /*
           * Styles for a group of secondary form actions.
           */
          @actions-secondary: {
            display: flex;
            justify-self: end;
          };

          /*
           * Styles for a list of fields on a form.
           */
          @fields: {
            border: 0;
            display: flex;
            flex-direction: column;
          };
        };
      );
    }
  }
}
