/**
 * Schema for a form fieldset component.
 *
 * Version Added:
 *     1.0
 */

@import (reference) "./base.less";


#ink-ns-schema() {
  @form-fieldset: {
    /**
     * Populate a form fieldset schema.
     *
     * This will provide the structure for a fieldset component, populating the
     * parts of the component with the provided style rules.
     *
     * Version Added:
     *     1.0
     *
     * Args:
     *     @name (string):
     *         The name of the CSS class that this schema would populate.
     *
     *     @schema-rules (ruleset, optional):
     *         Any rules to apply to part of the schema.
     *
     *     @specialize-schema-rules (ruleset, optional):
     *         Any additional specialized rules to apply to part of the schema.
     *
     *         This is a convenience to allow themes or specializations of
     *         components to easily inject additional rules into the schema.
     */
    .populate(@name;
              @schema-rules: null;
              @specialize-rules: null) {
      #ink-ns-schema.base();

      /**
       * Main part of the component.
       *
       * Structure:
       *     <fieldset class="@{name}">
       *      [<legend>...</legend>]
       *      [html...]
       *     </fieldset>
       */
      &:not([hidden]) {
        .add-rules('__default__');
      }

      /*
       * The fieldset legend.
       */
      legend {
        .add-rules('legend');
      }

      &__description {
        .add-rules('description');
      }
    }
  }
}
