/**
 * Schema for a form field component.
 *
 * Version Added:
 *     1.0
 */

@import (reference) "./base.less";


#ink-ns-schema() {
  @form-field: {
    /**
     * Populate a form field schema.
     *
     * This will provide the structure for a form field component, populating
     * the parts of the component with the provided style rules.
     *
     * Form fields contain a label, input, help text, and validation errors.
     *
     * Version Added:
     *     1.0
     *
     * Args:
     *     @name (string):
     *         The name of the CSS class that this schema would populate.
     *
     *     @schema-rules (ruleset, optional):
     *         Any rules to apply to part of the schema.
     *
     *     @specialize-schema-rules (ruleset, optional):
     *         Any additional specialized rules to apply to part of the schema.
     *
     *         This is a convenience to allow themes or specializations of
     *         components to easily inject additional rules into the schema.
     */
    .populate(@name;
              @schema-rules: null;
              @specialize-rules: null) {
      #ink-ns-schema.base();

      /**
       * Main part of the component.
       *
       * DOM Attributes:
       *     aria-disabled (boolean, optional):
       *         Whether this field is disabled.
       *
       *         If set, the contained input should also have a ``disabled``
       *         attribute, if appropriate for the element.
       *
       *     aria-errormessage (string, optional):
       *         The ID of the ``__errors`` child, showing the error message.
       *
       *         This should only be set with ``aria-invalid="true"``.
       *
       *     aria-invalid (boolean, optional):
       *         Whether this form field has failed validation.
       *
       *         If set, there should be an ``__errors`` child, and
       *         ``aria-errormessage`` should be set.
       *
       *     aria-required (boolean, optional):
       *         Whether this field is required.
       *
       *         If set, the contained input should also have a ``required``
       *         attribute, if appropriate for the element.
       *
       * Modifiers:
       *     -has-input-first:
       *         Whether this is a form field that shows inputs before
       *         labels.
       *
       *         This is used for checkboxes, radio buttons, and specialized
       *         controls where the label should not be shown first.
       *
       * Structure:
       *     <div class="@{name}
       *                 [-has-input-first"
       *          [aria-disabled="<<boolean>>"]
       *          [aria-required="<<boolean>>"]
       *          [aria-invalid="false"
       *           |
       *           (
       *            aria-invalid="true"
       *            aria-errormessage="<<id>>"
       *           )
       *          ]>
       *      (
       *       (
       *        <label class="@{name}__label" ...>...</label>
       *        <... class="@{name}__input" ...>...</...>
       *       )
       *       |
       *       (
       *        <... class="@{name}__input" ...>...</...>
       *        <label class="@{name}__label" ...>...</label>
       *       )
       *      )
       *      [<div class="@{name}__errors">...</div>]
       *      [<div class="@{name}__help">...</div>]
       *     </form>
       */
      & {
        .add-rules('__default__');

        &[aria-disabled="true"] {
          .add-rules('state-disabled');
        }

        &[aria-required="true"] {
          .add-rules('state-required');
        }

        &.-has-input-first {
          .add-rules('state-has-input-first');
        }

        &:not(.-has-input-first) {
          .add-rules('state-has-input-second');
        }
      }

      /**
       * Errors shown on the field.
       *
       * This is shown below the input, providing guidance on the error.
       * This may contain any kind of contents needed to describe the error.
       *
       * If present, it must have an ID that the main component can link to
       * in ``aria-errormessage``.
       *
       * DOM Attributes:
       *     id (string):
       *         The ID of the element, used for the main component's
       *         ``aria-errormessage`` value.
       *
       * Structure:
       *     <div class="@{name}__errors"
       *          id="<<string>>">
       *      html...
       *     </div>
       */
      &__errors {
        .add-rules('errors');
      }

      /**
       * Help text offering guidance for the field.
       *
       * This should only contain inline text content (used for formatting
       * or links), and not block content.
       *
       * Structure:
       *     <div class="@{name}__help">
       *      html...
       *     </div>
       */
      &__help {
        .add-rules('help');
      }

      /**
       * A container for the field input.
       *
       * This may contain a standard field input, like ``<input>`` or
       * ``<textarea>``, or a potentially more complex custom widget.
       *
       * It may also contain a ``__readonly-value`` child, to indicate a
       * value that cannot be set but should not have the appearance of a
       * disabled input.
       *
       * Note that the child should always have an ID set, so that the label
       * can reference it.
       *
       * Structure:
       *     <div class="@{name}__input">
       *      html...
       *      |
       *      <div class="@{name}__readonly-value">...</div>
       *     </div>
       */
      &__input {
        .add-rules('input');
      }

      /**
       * The label describing the field.
       *
       * DOM Attributes:
       *     for (string):
       *         The ID of the inner input element.
       */
      &__label {
        .add-rules('label');
      }

      /**
       * A read-only value to use in place of an input.
       *
       * Structure:
       *     <div class="@{name}__readonly-value">
       *      text...
       *     </div>
       */
      &__readonly-value {
        .add-rules('readonly-value');
      }
    }
  }
}
